<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--客户端执行路径-->
    <add key="ClientPath" value="C:\BOCTSClient\" />
    <!--SPA站点URL-->
    <add key="SPASiteURL" value="http://localhost:8011/" />
    <!--SPA站点对应的物理路径-->
    <add key="SPASitePath" value="E:\中行项目\港澳项目\测试\BOCTS.Client.HTMLCroe\BOCTS.Client.HTMLCroe/" />
    
  </appSettings>
    <!--<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ControlzEx" publicKeyToken="f08b075e934b7045" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.3" newVersion="2.1.1.3" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>