<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BOC.Client.jsRuntime" version="1.3.0.4" targetFramework="net452" />
  <package id="BOC.Scripts.CallSubFlowchartActivityJs" version="1.3.6.1" targetFramework="net452" />
  <package id="BOC.Scripts.ConnectServerActivityJs" version="1.3.6.1" targetFramework="net452" />
  <package id="BOC.Scripts.DataMappingJs" version="1.3.0.1" targetFramework="net452" />
  <package id="BOC.Scripts.DependenciesLibrary" version="1.3.0.1" targetFramework="net452" />
  <package id="BOC.Scripts.Durandal" version="1.3.0.1" targetFramework="net452" />
  <package id="BOC.Scripts.jQuery" version="1.3.0.1" targetFramework="net452" />
  <package id="BOC.Scripts.jsRuntime" version="1.3.0.2" targetFramework="net452" />
  <package id="BOC.Scripts.knockout.mapper" version="1.3.0.1" targetFramework="net452" />
  <package id="BOC.Scripts.knockout.Validation" version="1.3.0.1" targetFramework="net452" />
  <package id="BOC.Scripts.knockoutjs" version="1.3.0.1" targetFramework="net452" />
  <package id="BOC.Scripts.maskInput" version="1.3.0.1" targetFramework="net452" />
  <package id="BOC.Scripts.popupSelect" version="1.3.0.1" targetFramework="net452" />
  <package id="BOC.Scripts.RequireJS" version="1.3.0.1" targetFramework="net452" />
  <package id="BOC.Scripts.RequireJS.Text" version="1.3.0.1" targetFramework="net452" />
  <package id="BOC.Scripts.ShowScreenActivityJs" version="1.3.0.1" targetFramework="net452" />
  <package id="BOC.Scripts.TableView" version="1.3.0.1" targetFramework="net452" />
  <package id="BOC.Scripts.WorkflowJs" version="1.3.0.1" targetFramework="net452" />
  <package id="BOC.Styles.C.CM" version="1.3.1.1" targetFramework="net452" />
  <package id="BOC.Styles.C.CM.Themes" version="1.3.4.1" targetFramework="net452" />
  <package id="DependenciesLibrary" version="1.0.0.3" targetFramework="net452" />
  <package id="Durandal" version="2.1.1" targetFramework="net452" />
  <package id="jQuery" version="2.2.3" targetFramework="net452" />
  <package id="knockout.mapper" version="1.0.0" targetFramework="net452" />
  <package id="Knockout.Validation" version="2.0.3" targetFramework="net452" />
  <package id="knockoutjs" version="3.4.0" targetFramework="net452" />
  <package id="RequireJS" version="2.2.0" targetFramework="net452" />
  <package id="RequireJS.Text" version="2.0.7" targetFramework="net452" />
  <package id="WorkflowJs" version="1.0.11.15" targetFramework="net452" />
</packages>